database_connection_string= # The connection string for connecting to your database. (For example, postgres://username:password@host/database)
VITE_server_port= # The port the web application should listen for incoming connections on. This is likely 80 for production and 3000 for development/testing.
VITE_environment= # Whether this is a production or development environment
VITE_deployment_url= # The URL where the application is deployed. Note that this is only needed in a production environment. For example, https://my-project.onrender.com